@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
	margin: 0;
	padding: 0;
}

:root{
	--cor-fundo: #3E3232;
	--cor-texto: #FFFF;
	--cor-texto-destaque: #ECB159;
	--font-texto: "Special Elite", system-ui;
	--tamanho-icone: 10%;
}

body{
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
}

.cabecalho__menu{
	display: flex;
	justify-content: space-around;
	padding: 1% 0;
}

.cabecalho__menu__link{
	display: flex;
	justify-content: end;
	align-items: center;
	text-decoration: none;
	color: var(--cor-texto);
}


.cabecalho__menu__link__icone{
	width: 30px;
	padding: 5px;
	transition: width 0.5s;
}

.titulo-destaque{
	color: var(--cor-texto-destaque)
}

.apresentacao{
	display: flex;
	align-items: center;
	justify-content: space-evenly;	
}

.img-thank-you{
	width: 100px;
	height: 100px;
}

.img-perfil{
	width: 400px;
	height: 400px;
}

.menu__lateral{
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: 10%;
}

.menu__lateral__link__botao__icone{
	padding: 10px 15px;
	width: 30px;
	border-right: solid 1px var(--cor-texto-destaque);
	transition: width 0.5s;
}

.cabecalho__menu__link__icone:hover{
	width: 40px;
}

.menu__lateral__link__botao__icone:hover{
	width: 40px;
}

.apresentacao__conteudo{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.nome{
	font-size: 32px;
	font-family: var(--font-texto)
}

.apresentacao__conteudo__sobrenome{
	margin-left: 50px;
	font-size: 32px;
	font-family: var(--font-texto);
}

.apresentacao__conteudo__texto{
	border-right: 2px solid var(--cor-texto-destaque);
	font-family: var(--font-texto);
	font-size: 2rem;
	color: var(--cor-texto-destaque);
	white-space: nowrap;
	overflow: hidden;
	animation: blinkCursor 900ms steps(30) infinite normal, typing 4s steps(35) 1s normal both;
}

.cabecalho__lista{
	display: none;
}


@keyframes blinkCursor{
	from{
		border-right-color: var(--cor-texto-destaque);
	}

	to{
		border-right-color: transparent;
	}
}

@keyframes typing{
	from{
		width: 0;
	}

	to{
		width: 15rem;
	}
}

@media (max-width: 730px) {
	
	.apresentacao{
		flex-direction: column;
	}

	.apresentacao__conteudo__texto{
		padding: 20px 0;
	}

	.img-perfil{
		order: -1;
		margin-bottom: 25px;
		width: 300px;
		height: 300px;
	}

	.cabecalho__menu{
		display: none;
	}

	.cabecalho__lista{
		display: block;
		background-color: var(--cor-texto-destaque);
	}

	.cabecalho__lista__items{
		display: none;	
	}

	.cabecalho-check:checked~.cabecalho__lista__items{
		display: block;
		background-color: var(--cor-texto-destaque);
		
		.cabecalho__lista__link{
			display: flex;
		}

	}

	.cabecalho__menu__link__icone:hover{
		transform: rotate(90deg) ;
		transition: transform 1s;  
	}

	.cabecalho__menu__link__icone{
		transform: rotate(0deg) ;
		transition: transform 1s;
	}
}