@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
	margin: 0;
	padding: 0;
}

:root{
	--cor-fundo: #3E3232;
	--cor-texto: #FFFF;
	--cor-texto-destaque: #ECB159;
	--font-texto: "Special Elite", system-ui;
	--tamanho-icone: 10%;
}

body{
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
}

.cabecalho__menu{
	display: flex;
	justify-content: space-around;
	padding: 1% 0;
}

.cabecalho__menu__link{
	display: flex;
	justify-content: end;
	align-items: center;
}


.cabecalho__menu__link__icone{
	width: 30px;
	padding: 5px;
}

.titulo-destaque{
	color: var(--cor-texto-destaque)
}

.img-perfil{
	width: 400px;
	height: 400px;
}

.apresentacao{
	display: flex;
	align-items: center;
	justify-content: space-evenly;	
}

.menu__lateral{
	display: flex;
	flex-direction: column;
}

.menu__lateral__link__botao__icone{
	padding: 10px 0;
	width: 30px;
}

.apresentacao__conteudo{
	display: flex;
	flex-direction: column;
	gap: 90%;
}

.nome{
	font-size: 32px;
	font-family: var(--font-texto)
}

.apresentacao__conteudo__sobrenome{
	margin-left: 50px;
	font-size: 32px;
	font-family: var(--font-texto);
}

.apresentacao__conteudo__texto{
	font-family: var(--font-texto);
	font-size: 2rem;
	color: var(--cor-texto-destaque);
}

@keyframes blinkCursor {
	from {
		border-right-color: var(--font-texto);
	}
	to {
		border-right-color: ;
	}
}

@media (max-width: 730px) {
	
	.apresentacao{
		flex-direction: column;
	}

	.apresentacao__conteudo__texto{
		padding: 20px 0;
	}

	.img-perfil{
		order: -1;
		margin-bottom: 25px;
		width: 90%;
	}

	.cabecalho__menu{
		margin-right: 10px;
		justify-content: center;
	}
	
}